@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
}
body .writeinfocontainer {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 500px;
  margin: 60px auto;
  background-color: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  padding:40px;
}
body .writeinfocontainer h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: center;
  text-indent: 6px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #263238;
}
body .writeinfocontainer .tabs {
  width: 100%;
  margin-bottom: 29px;
  border-bottom: 1px solid #d9d9d9;
}
body .writeinfocontainer .tabs .tab {
  display: inline-block;
  margin-bottom: -1px;
  padding: 20px 15px 10px;
  cursor: pointer;
  letter-spacing: 0;
  border-bottom: 1px solid #d9d9d9;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.1s ease-in-out;
}
body .writeinfocontainer .tabs .tab a {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #d9d9d9;
  transition: all 0.1s ease-in-out;
}
body .writeinfocontainer .tabs .tab.active a, body .writeinfocontainer .tabs .tab:hover a {
  color: #263238;
}
body .writeinfocontainer .tabs .tab.active {
  border-bottom: 1px solid #263238;
}
body .writeinfocontainer .writeinfocontent form {
  position: relative;
  height: 287px;
}
body .writeinfocontainer .writeinfocontent label:first-of-type, body .writeinfocontainer .writeinfocontent input:first-of-type, body .writeinfocontainer .writeinfocontent .more:first-of-type {
  -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .writeinfocontainer .writeinfocontent label:nth-of-type(2), body .writeinfocontainer .writeinfocontent input:nth-of-type(2), body .writeinfocontainer .writeinfocontent .more:nth-of-type(2) {
  -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .writeinfocontainer .writeinfocontent label:nth-of-type(3), body .writeinfocontainer .writeinfocontent input:nth-of-type(3), body .writeinfocontainer .writeinfocontent .more:nth-of-type(3) {
  -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .writeinfocontainer .writeinfocontent label {
  font-size: 12px;
  color: #263238;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
body .writeinfocontainer .writeinfocontent label:not([for='remember']) {
  display: none;
}
body .writeinfocontainer .writeinfocontent input.inpt {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 42px;
  margin-bottom: 12px;
  padding: 16px 13px;
  color: #999999;
  border: 1px solid #d9d9d9;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
   position:relative;
}
body .writeinfocontainer .writeinfocontent input.inpt::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .writeinfocontainer .writeinfocontent input.inpt:-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .writeinfocontainer .writeinfocontent input.inpt::-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .writeinfocontainer .writeinfocontent input.inpt:-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .writeinfocontainer .writeinfocontent input.inpt:focus {
  border-color: #999999;
}
body .writeinfocontainer .writeinfocontent input.submit {
  font-size: 12px;
  line-height: 42px;
  display: block;
  width: 100%;
  height: 42px;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #263238;
  border: 1px solid #263238;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
body .writeinfocontainer .writeinfocontent input.submit:hover {
  background-color: #263238;
  color: #ffffff;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .writeinfocontainer .writeinfocontent input:focus {
  outline: none;
}
body .writeinfocontainer .writeinfocontent .checkbox {
  margin-top: 4px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  margin: 17px -1px;
  padding: 0;
  border: 0;
}
body .writeinfocontainer .writeinfocontent .checkbox + label {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
}
body .writeinfocontainer .writeinfocontent .checkbox + label:before {
  writeinfocontent: "\A";
  color: #999999;
  font-family: Verdana;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #d9d9d9;
  width: 11px;
  height: 11px;
  margin: -2px 8px 0 0;
}
body .writeinfocontainer .writeinfocontent .checkbox:checked + label:before {
  writeinfocontent: "✓";
}
body .writeinfocontainer .writeinfocontent .submit-wrap {
  position:relative;
  bottom: 0;
  width: 100%;
}
body .writeinfocontainer .writeinfocontent .submit-wrap a {
  font-size: 12px;
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #999999;
}
body .writeinfocontainer .writeinfocontent .submit-wrap a:hover {
  text-decoration: underline;
}
body .writeinfocontainer .writeinfocontent .signup-cont {
  display: none;
}